@import url(//cdn.jsdelivr.net/npm/dubai-font@1.1.1/dubai-font/css/dubai-font.css);
body{
    font-family: 'Dubai-regular', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff;
}

.carousel-caption {
bottom: 0 !important;
background: rgba(0, 0, 0, .4);
}